<studyflow-subject-firstday-form></studyflow-subject-firstday-form>
<div class="row ma-studyflow-subject-events-container">
  <div class="col-sm-12 col-sm-offset-3">
        <table>
          <tr>
            <td >Time</td>
            <td >Name</td>
            <td >Location</td>
            <td >Flag</td>
          </tr>
          <tr *ngFor="let et of events|async">
            <td><input size=20 [disabled]="true" type="text" [(ngModel)]="et.time" ></td>
            <td><input size=40 [disabled]="true" type="text" [(ngModel)]="et.name" ></td>
            <td><input size=20 [disabled]="true" type="text" [(ngModel)]="et.location" ></td>
            <td><input size=20 [disabled]="true" type="text" [(ngModel)]="et.flag"     ></td>
          </tr>
        </ul>
  </div>
</div>

